*{
    text-decoration: none;
    font-family:'Georgia','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif
}
    body{
    width: 100%;
    margin:0;
    font-size: 20px;
}
/* CSS body*/
/*CSS header*/
.div_logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    width:15%;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.menu a{
    font-size: 20px;
    color: black;
}

.menu a:hover{
   color: red;
   font-size: 32px;
}
/*CSS header*/
/*CSS home*/
.home{
    width: 100%;
}

.img_home{
    width: 100%;
    height: auto;
}

h2{
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.word_home{
text-align: center;
padding-bottom: 20vh;
}

.section_img{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 20vh;
    padding-bottom: 10vh;
    
}

.container_home, .container_home3{
    border: 2px solid white;
    border-radius: 20px;
    width: 20%;
    height: 70vh;
    background-color: rgb(210, 210, 210);
}

.container_home2{
    border: 2px solid white;
    border-radius: 20px;
    width: 30%;
    height: 80vh;
    background-color: rgb(210, 210, 210);
}
/*CSS home*/
/*CSS history*/
.history{
    width: 100%;
}

.img_history{
    width: 100%;
    
}

.scetion_history{
    width: 100%;
}

.div_history{
    padding-left: 5%;
    padding-right: 5%;
}

.panorama{
    width: 100%;
    height: 40vh;
    padding-bottom: 10vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}
    


.img-history2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
/*CSS history*/
/*CSS site*/
.site{
    width: 100%;
}

.img_site{
    width: 100%;
}

.div_slider{
     width: 100%;
     height: 60vh;
     display: flex;
     justify-content: center;
}

 .slider{
    width: 40%;
    height: 50vh;
    animation: animate 120s linear infinite;
    background-size: cover;
    background-color: black;
}

/*@keyframes animate{
    0%,100%{
        background-image: url(assets/slider/photo1);
    }
    7%{
        background-image: url(assets/slider/photo2.jpg);
    }
    13%{
        background-image: url(assets/slider/photo3.jpg);
    }
    20%{
        background-image: url(assets/slider/photo4.jpg);
    }
    26%{
        background-image: url(assets/slider/photo5.jpg);
    }
    33%{
        background-image: url(assets/slider/photo6.jpg);
    }
    39%{
        background-image: url(assets/slider/photo7.jpg);
    }
    47%{
        background-image: url(assets/slider/photo8.jpg);
    }
    53%{
        background-image: url(assets/slider/photo9.jpg);
    }
    59%{
        background-image: url(assets/slider/photo10.jpg);
    }
    65%{
        background-image: url(assets/slider/photo11.jpg);
    }
    71%{
        background-image: url(assets/slider/photo12.jpg);
    }
    77%{
        background-image: url(assets/slider/photo13.jpg);
    }
    83%{
        background-image: url(assets/slider/photo14.jpg);
    }
    90%{
        background-image: url(assets/slider/photo15.jpg);
    }
    
}*/
/*CSS site*/
/*CSS footer*/
footer{
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

footer a{
    color: black;
}
/*CSS footer*/